* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
    color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    flex-wrap: wrap;
    justify-self: top;
    padding: 20px;
    background-color: brown;
    color: black;
    text-align: center;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

.nav {
    margin-top: 20px;
    word-spacing: 3px;
    justify-self: center;
}

.name {
    font-weight: bold;
    color:antiquewhite;
}

a[href*="#"] {
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: black;
}

.intro {
    margin: 20px;
    padding: 20px;
    background-color: #cd5c5c;
}

#moose {
    display: flex;
    float: left;
    margin: 20px;
    margin-right: 50px;
    margin-top: 30px;
    height: 300px;
    width: 500px;
}

.intro p {
    float: center;
    margin: 75px;
    font-size: 25px;
}

p {
    float: center;
    margin: 75px;
    margin-top: 20px;
    font-size: 25px;
}

h2 {
    justify-self: left;
    text-align: left;
    color: antiquewhite;
    font-size: 45px;
    padding-top: 30px;
    margin-left: 75px;
    margin-right: 75px;
}

.cards {
    margin: 20px;
    height: 350px;
}

#why-site {
    background-color: #f08080;
}

#why-us {
    background-color: #ffa07a;
}

#social-media-marketing {
    background-color: #e9967a;
}

.cards img {
    float: left;
    margin: 20px;
    margin-right: 50px;
    height: 300px;
    width: 300px;
}

#why-site img, #social-media-marketing img {
    float: right;
    margin-left: 35px;
    margin-right: 50px;
}

a {
    color: #fff;
    text-decoration: none;
}

.quotes {
    font-size: 30px;
    color: darkslategray;
    margin: 20px;
    height: 400px;
    background-color: #cc6666;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.quote1, .quote2, .quote3 {
    float: left;
    margin: 10px;
    margin-top: 10px;
    padding: 20px;
    background-color: antiquewhite;
    list-style-type: none;
}

#quotes h2 {
    color: darkslategrey;
    float: center;
    margin-left: 30px;
}

#contactus {
    float: center;
    background-color: #e34234;
    height: 150px;
    margin: 20px;
    padding-top: 10px;
    padding-left: 360px;
    padding-right: 360px;
    text-align: center;
    font-size: 10px
}

.contact p {
    font-size: 20px;
}

.contact h3 {
    text-align: center;
    font-size: 30px;
    color: antiquewhite;
    padding: 15px;
}

.footer {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 325px;
    padding-right: 325px;
    padding-top: 30px;
    padding-bottom: 5px;
    clear: both;
    text-align: center;
    background-color: brown;
}

.footer p {
    font-size: 20px;
}

.footer h3 {
    font-size: 30px;
}
